---
import { getCollection } from "astro:content";
import { getI18N } from "@/i18n";

import Layout from "@/layouts/Layout.astro";
import Posts from "@/layouts/Posts.astro";
import Hero from "@/components/Hero.astro";
import Heading from "@/components/Heading.astro";
import Button from "@/components/Button.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.createdDate.valueOf() - a.data.createdDate.valueOf())
  .slice(0, 3);

const { currentLocale } = Astro;
const i18n = getI18N({currentLocale});
---

<Layout title="Soy Sergio! 👋 | Software Developer">
  <main class="py-16">
    <Hero />
    <!-- section -->
    <!-- <div class="pb-24">
      <Heading title="Proyectos" fontSize="2xl" />
      <Posts posts={posts} />
      <Button href="/projects" label="Ver más proyectos" />
    </div> -->
    <!-- section -->
    <div class="mb-24 last:mb-0">
      <Heading title={i18n.HEADING.PUBLICATIONS} fontSize="2xl" isItalic />
      <Posts posts={posts} />
      <Button href="/blog" label={i18n.BUTTONS.SEE_PUBLICATIONS} />
    </div>
  </main>
</Layout>
