---
import type { CollectionEntry } from "astro:content";
import Base from "@/layouts/Base.astro";
import Author from "@/components/Author.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, imageUrl, author, authorImage, createdDate, minutesRead  } = Astro.props;
---

<Base title={title} description={description} image={imageUrl} >
  <article class="py-16">
    <div class="flex flex-col gap-8">
      <h1 class="font-secondary text-3xl lg:text-4xl text-tertiary dark:text-primary">{title}</h1>
      <p class="text-sm lg:text-base text-tertiary dark:text-secondary leading-normal">{description}</p>
      <Author
        author={author}
        authorImage={authorImage}
        createdDate={createdDate}
        minutesRead={minutesRead}
      />
    </div>
  
    <div class="my-10">
      <img class="w-full h-auto lg:h-[440px] object-cover object-center rounded-lg" src={imageUrl} alt={title} />
    </div>

    <div class="text-sm lg:text-base text-tertiary dark:text-secondary prose prose-green prose-md md:prose-lg min-w-full">
      <slot />
    </div>
  </article>
</Base>
